@import "tailwindcss";

@theme {
  --color-windows-title: var(--color-blue-800);
  --color-windows-content: var(--color-gray-300);
  --color-windows-content-hover: var(--color-gray-200);
  --color-windows-border-light: var(--color-white);
  --color-windows-border-dark: var(--color-gray-600);
  --inset-shadow-windows: inset -2px -2px rgba(0 0 0 / 0.2);
}

body {
  background-image: url("/sky-tile.gif");
}
